* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
}

body {
    margin: 5% 10% 5% 10%;
    box-shadow: 0px 0px 5px 8px rgb(206, 200, 200);
    padding: 10px;
    border-radius: 10px;
    max-width: 1500px;
    height: fit-content;

}
.container {
    background-color: beige;
}
.header-container {
    background-color: rgb(54, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
    font-size: 1.6rem;
}


header #search-bar {
    width: 50%;
    display: flex;
}

header #search-bar #search {
    width: 100%;
}


.task-container {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-container form {
    min-height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    color: darkgrey;
}
h3 {
    color: antiquewhite;
}

h4 {
    padding: 20px 0px;
}
ul {
    list-style: none;
}

ul li {
    padding: 20px 30px ;
    border: 1px solid black;
    box-shadow: 0px -5px 2px 5px rgb(75, 75, 60);
    font-size: calc(0.8rem + 1vw);
    padding: 30px;
}

.delete-button, .color {
    letter-spacing: 0.3mm;

}
button, #add-task {
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    padding: 8px;
}
.delete-button i {
    display: none;
}

.delete-button:hover {
    background-color: rgb(241, 12, 12);
}

.delete-button:hover i {
    display: contents;
}

#task-entry {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content:center;
    align-items: center; 
    width: 100%;
    padding: 20px;
}

#task-entry #add-task-box {
    width: 50%;
    min-height: 35px;
    border-radius: 10px;
}




#add-task {
    width: 100PX;
} 






#add-task:hover {
    background-color: green;
}

ul li:nth-child(odd) {
    background-color: goldenrod;
    background-size: cover;
}



.color {
    background-color: blueviolet;
}



.hover:hover {
    background-color: green
}

#task-entry #hide {
    width: 30px;
}
#task-entry label {
    line-height: 52px
}

@media (max-width: 600px) {
    body {
        min-width: 90%;
        min-height: 90%;
        margin: auto;
    }
}

@media (max-width: 999px) {

    h1, h3 {
        padding: 5px;
        font-size: smaller
    }

    .task-container {
        width: 90%;
    }
    .task-container ul li {
        padding: 10px;
    }
}


