* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
}

body {
    margin: 5% 10% 5% 10%;
    box-shadow: 0px 0px 5px 8px rgb(206, 200, 200);
    padding: 10px;
    border-radius: 10px;
    max-width: 1500px;
    max-height: 1000px;
}
.container {
    background-color: beige;
}
.header-container {
    background-color: rgb(54, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
    font-size: 1.6rem;
}

.task-container {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-container form {
    min-height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    color: darkgrey;
}
h3 {
    color: antiquewhite;
}

h4 {
    padding: 20px 0px;
}
ul {
    list-style: none;
}

ul li {
    padding: 20px 30px ;
    border: 1px solid black;
    box-shadow: 0px -5px 2px 5px rgb(75, 75, 60);
    font-size: calc(0.8rem + 1vw);
    padding: 30px;
}

.delete-button {
    letter-spacing: 0.3mm;
    background-color: blueviolet;

}
button {
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    padding: 8px;
}
.delete-button i {
    display: none;
}

.delete-button:hover, .delete-button:active {
    background-color: rgb(241, 12, 12);
}

.delete-button:hover i, .delete-button:active i {
    display: contents;
}
.add-task {
    display: flex;
    flex-direction: row;
    margin: 20px 30%;
}

.add-task input {
    width: 60%;
}

.add-task button {
    margin: auto;
    min-width: 15%;
    background-color: rgb(110, 52, 165);
} 

.add-task button i {
    display: none;
    height: 10px;
    width: 10px;
    color: lightblue;
    background-color: blue;
}

.add-task button:hover, .add-task button:active {
    background-color: green;
}

.add-task button:hover i, .add-task button:active i {
    display: contents;
}
ul li:nth-child(odd) {
    background-color: goldenrod;
    background-size: cover;
}

.color {
    color: rgb(81, 7, 151);
}

.color:hover {
    color: green
}

@media (max-width: 600px) {
    body {
        min-width: 90%;
        min-height: 90%;
        margin: auto;
    }
}

@media (max-width: 999px) {

    .delete-button {
        float: none;
        margin-left: 0px;
        padding: 2px;

    }
    .add-task {
        margin: 30px
    }

    .add-task button:hover {
        height: 30px;
        width: fit-content;
        margin-left: 10px;
        padding: 5px
    }

    h1, h3 {
        padding: 5px;
        font-size: smaller
    }

    .task-container {
        width: 90%;
    }
    .task-container ul li {
        padding: 10px;
    }
}


